/* Header styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 24px 96px;
}

.heeader_menu {
  width: 387px;
}

.header__links-list {
  display: flex;
  justify-content: space-around;
  list-style-type: circle;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: lowercase;
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item .header__address {
  text-decoration: none;
}

.header__logo {
  width: 148px;
}

.header__logo-image {
  display: block;
}

.address {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
}

.header__address {
  width: 240px;
}

/* Cover styles */

.cover {
  position: relative;
  padding: 165px 50px 62px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: #FFF;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 135px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 24px;
  z-index: 1;
}

.bet-button {
  padding: 12px 32px;
  background: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  z-index: 1;
}

/* Lots styles */

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  list-style-type: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 334px;
  padding: 48px;
  min-height: 563px;
  background-size: cover;
  background-position: center center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  width: 254px;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  z-index: 1;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 40px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

/* About styles */

.about {
  padding: 146px 24px 0;
  display: flex;
  justify-content: space-between;
  gap: 72px;
}

.about__logo {
  width: 240px;
  padding: 62px 45px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  display: block;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-top: 133px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  margin-top: 100px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.about__text p:not(:last-child) {
  margin-bottom: 26px;
}

/* Footer styles */

.footer {
  padding: 178px 50px 90px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-list {
  list-style-type: none;
  text-align: center;
}

.footer__menu-link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style-type: none;
}

.footer__social-list-item {
  width: 48px;
}



